In [1]:
import pandas as pd

df_data = pd.read_csv('/content/CFS 2017 PUF CSV.csv')

In [2]:
print("df_data info:")
df_data.info()
print("\ndf_data columns:")
print(df_data.columns)
print("\ndf_data missing values:")
print(df_data.isnull().sum().sum())

print("\n--------------------\n")

df_data info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213183 entries, 0 to 213182
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SHIPMT_ID           213183 non-null  int64
 1   ORIG_STATE          213183 non-null  int64
 2   ORIG_MA             213183 non-null  int64
 3   ORIG_CFS_AREA       213183 non-null  object
 4   DEST_STATE          213183 non-null  int64
 5   DEST_MA             213183 non-null  int64
 6   DEST_CFS_AREA       213183 non-null  object
 7   NAICS               213183 non-null  int64
 8   QUARTER             213183 non-null  int64
 9   SCTG                213183 non-null  object
 10  MODE                213183 non-null  int64
 11  SHIPMT_VALUE        213183 non-null  int64
 12  SHIPMT_WGHT         213183 non-null  int64
 13  SHIPMT_DIST_GC      213183 non-null  int64
 14  SHIPMT_DIST_ROUTED  213183 non-null  int64
 15  TEMP_CNTL_YN        213182 non-null  object
 16  EXPORT_YN           213182 non-null  object
 17  EXPORT_CNTRY        213182 non-null  object
 18  HAZMAT              213182 non-null  object
 19  WGT_FACTOR          213182 non-null  float64
dtypes: float64(1), int64(12), object(7)
memory usage: 32.5+ MB

df_data columns:
Index(['SHIPMT_ID', 'ORIG_STATE', 'ORIG_MA', 'ORIG_CFS_AREA', 'DEST_STATE',
       'DEST_MA', 'DEST_CFS_AREA', 'NAICS', 'QUARTER', 'SCTG', 'MODE',
       'SHIPMT_VALUE', 'SHIPMT_WGHT', 'SHIPMT_DIST_GC', 'SHIPMT_DIST_ROUTED',
       'TEMP_CNTL_YN', 'EXPORT_YN', 'EXPORT_CNTRY', 'HAZMAT', 'WGT_FACTOR'],
      dtype='object')

df_data missing values:
5

--------------------

In [3]:
display(df_data.head())

,SHIPMT_ID,ORIG_STATE,ORIG_MA,ORIG_CFS_AREA,DEST_STATE,DEST_MA,DEST_CFS_AREA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
0,1,6,99999,06-99999,6,260,06-260,326,4,43,5,4380,391,54,60,N,N,N,N,328.3
1,2,49,482,49-482,47,314,47-314,4541,3,43,14,56,4,1524,1810,N,N,N,N,8425.3
2,3,6,348,06-348,6,348,06-348,4231,4,34,5,255,440,2,5,N,N,N,N,9120.7
3,4,6,260,06-260,6,99999,06-99999,212,4,11,5,250,44912,30,35,N,N,N,N,20.9
4,5,45,273,45-273,45,273,45-273,45431,4,19,5,46,73,9,11,N,N,N,H,1733.8

In [4]:
print(f"Number of rows: {df_data.shape[0]}")
print(f"Number of columns: {df_data.shape[1]}")

Number of rows: 213183
Number of columns: 20

In [5]:
df_data = df_data.drop(columns=['ORIG_CFS_AREA', 'DEST_CFS_AREA'])
print("Updated df_data columns:")
print(df_data.columns)

Updated df_data columns:
Index(['SHIPMT_ID', 'ORIG_STATE', 'ORIG_MA', 'DEST_STATE', 'DEST_MA', 'NAICS',
       'QUARTER', 'SCTG', 'MODE', 'SHIPMT_VALUE', 'SHIPMT_WGHT',
       'SHIPMT_DIST_GC', 'SHIPMT_DIST_ROUTED', 'TEMP_CNTL_YN', 'EXPORT_YN',
       'EXPORT_CNTRY', 'HAZMAT', 'WGT_FACTOR'],
      dtype='object')

In [6]:
print(sorted(df_data['SCTG'].unique()))

['00', '01', '01-05', '02', '03', '04', '05', '06', '06-09', '07', '08', '09', '10', '10-14', '11', '12', '13', '14', '15', '15-19', '17', '18', '19', '20', '20-24', '21', '22', '23', '24', '25', '25-30', '26', '27', '28', '29', '30', '31', '31-34', '32', '33', '34', '35', '35-38', '36', '37', '38', '39', '39-43', '40', '41', '43']

In [7]:
sortedSCTGvalues  = sorted(df_data['SCTG'].unique())

In [8]:
sctg_to_index = {value: index for index, value in enumerate(sortedSCTGvalues)}
df_data['SCTG_indexed'] = df_data['SCTG'].map(sctg_to_index)
display(df_data[['SCTG', 'SCTG_indexed']].head())

  SCTG  SCTG_indexed
0   43            50
1   43            50
2   34            40
3   11            14
4   19            22

In [9]:
print(df_data.isnull().sum())

SHIPMT_ID             0
ORIG_STATE            0
ORIG_MA               0
DEST_STATE            0
DEST_MA               0
NAICS                 0
QUARTER               0
SCTG                  0
MODE                  0
SHIPMT_VALUE          0
SHIPMT_WGHT           0
SHIPMT_DIST_GC        0
SHIPMT_DIST_ROUTED    0
TEMP_CNTL_YN          1
EXPORT_YN             1
EXPORT_CNTRY          1
HAZMAT                1
WGT_FACTOR            1
SCTG_indexed          0
dtype: int64

In [10]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213183 entries, 0 to 213182
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SHIPMT_ID           213183 non-null  int64
 1   ORIG_STATE          213183 non-null  int64
 2   ORIG_MA             213183 non-null  int64
 3   DEST_STATE          213183 non-null  int64
 4   DEST_MA             213183 non-null  int64
 5   NAICS               213183 non-null  int64
 6   QUARTER             213183 non-null  int64
 7   SCTG                213183 non-null  object
 8   MODE                213183 non-null  int64
 9   SHIPMT_VALUE        213183 non-null  int64
 10  SHIPMT_WGHT         213183 non-null  int64
 11  SHIPMT_DIST_GC      213183 non-null  int64
 12  SHIPMT_DIST_ROUTED  213183 non-null  int64
 13  TEMP_CNTL_YN        213182 non-null  object
 14  EXPORT_YN           213182 non-null  object
 15  EXPORT_CNTRY        213182 non-null  object
 16  HAZMAT              213182 non-null  object
 17  WGT_FACTOR          213182 non-null  float64
 18  SCTG_indexed        213183 non-null  int64
dtypes: float64(1), int64(13), object(5)
memory usage: 30.9+ MB

In [11]:
export_cntry_cols = [col for col in df_data.columns if col.startswith('EXPORT_CNTRY_')]
for col in export_cntry_cols:
    df_data[col] = df_data[col].astype(int)

display(df_data.head())
df_data.info()

,SHIPMT_ID,ORIG_STATE,ORIG_MA,DEST_STATE,DEST_MA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR,SCTG_indexed
0,1,6,99999,6,260,326,4,43,5,4380,391,54,60,N,N,N,N,328.3,50
1,2,49,482,47,314,4541,3,43,14,56,4,1524,1810,N,N,N,N,8425.3,50
2,3,6,348,6,348,4231,4,34,5,255,440,2,5,N,N,N,N,9120.7,40
3,4,6,260,6,99999,212,4,11,5,250,44912,30,35,N,N,N,N,20.9,14
4,5,45,273,45,273,45431,4,19,5,46,73,9,11,N,N,N,H,1733.8,22

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213183 entries, 0 to 213182
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SHIPMT_ID           213183 non-null  int64
 1   ORIG_STATE          213183 non-null  int64
 2   ORIG_MA             213183 non-null  int64
 3   DEST_STATE          213183 non-null  int64
 4   DEST_MA             213183 non-null  int64
 5   NAICS               213183 non-null  int64
 6   QUARTER             213183 non-null  int64
 7   SCTG                213183 non-null  object
 8   MODE                213183 non-null  int64
 9   SHIPMT_VALUE        213183 non-null  int64
 10  SHIPMT_WGHT         213183 non-null  int64
 11  SHIPMT_DIST_GC      213183 non-null  int64
 12  SHIPMT_DIST_ROUTED  213183 non-null  int64
 13  TEMP_CNTL_YN        213182 non-null  object
 14  EXPORT_YN           213182 non-null  object
 15  EXPORT_CNTRY        213182 non-null  object
 16  HAZMAT              213182 non-null  object
 17  WGT_FACTOR          213182 non-null  float64
 18  SCTG_indexed        213183 non-null  int64
dtypes: float64(1), int64(13), object(5)
memory usage: 30.9+ MB

In [12]:
export_cntry_cols = [col for col in df_data.columns if col.startswith('EXPORT_CNTRY_')]
display(df_data[['SHIPMT_ID'] + export_cntry_cols].head())

   SHIPMT_ID
0          1
1          2
2          3
3          4
4          5

In [13]:
print("Unique values in TEMP_CNTL_YN:", df_data['TEMP_CNTL_YN'].unique())
print("Unique values in EXPORT_YN:", df_data['EXPORT_YN'].unique())

Unique values in TEMP_CNTL_YN: ['N' 'Y' nan]
Unique values in EXPORT_YN: ['N' 'Y' nan]

In [17]:
df_data['TEMP_CNTL_YN'] = df_data['TEMP_CNTL_YN'].map({'Y': 1, 'N': 0}).fillna(0).astype(int)
df_data['EXPORT_YN'] = df_data['EXPORT_YN'].map({'Y': 1, 'N': 0}).fillna(0).astype(int)
display(df_data[['TEMP_CNTL_YN', 'EXPORT_YN']].head())

   TEMP_CNTL_YN  EXPORT_YN
0             0          0
1             0          0
2             0          0
3             0          0
4             0          0

In [18]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213183 entries, 0 to 213182
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SHIPMT_ID           213183 non-null  int64
 1   ORIG_STATE          213183 non-null  int64
 2   ORIG_MA             213183 non-null  int64
 3   DEST_STATE          213183 non-null  int64
 4   DEST_MA             213183 non-null  int64
 5   NAICS               213183 non-null  int64
 6   QUARTER             213183 non-null  int64
 7   SCTG                213183 non-null  object
 8   MODE                213183 non-null  int64
 9   SHIPMT_VALUE        213183 non-null  int64
 10  SHIPMT_WGHT         213183 non-null  int64
 11  SHIPMT_DIST_GC      213183 non-null  int64
 12  SHIPMT_DIST_ROUTED  213183 non-null  int64
 13  TEMP_CNTL_YN        213183 non-null  int64
 14  EXPORT_YN           213183 non-null  int64
 15  EXPORT_CNTRY        213182 non-null  object
 16  HAZMAT              213182 non-null  object
 17  WGT_FACTOR          213182 non-null  float64
 18  SCTG_indexed        213183 non-null  int64
dtypes: float64(1), int64(15), object(3)
memory usage: 30.9+ MB

In [19]:
df_data = df_data.drop(columns=['SCTG'])
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213183 entries, 0 to 213182
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SHIPMT_ID           213183 non-null  int64
 1   ORIG_STATE          213183 non-null  int64
 2   ORIG_MA             213183 non-null  int64
 3   DEST_STATE          213183 non-null  int64
 4   DEST_MA             213183 non-null  int64
 5   NAICS               213183 non-null  int64
 6   QUARTER             213183 non-null  int64
 7   MODE                213183 non-null  int64
 8   SHIPMT_VALUE        213183 non-null  int64
 9   SHIPMT_WGHT         213183 non-null  int64
 10  SHIPMT_DIST_GC      213183 non-null  int64
 11  SHIPMT_DIST_ROUTED  213183 non-null  int64
 12  TEMP_CNTL_YN        213183 non-null  int64
 13  EXPORT_YN           213183 non-null  int64
 14  EXPORT_CNTRY        213182 non-null  object
 15  HAZMAT              213182 non-null  object
 16  WGT_FACTOR          213182 non-null  float64
 17  SCTG_indexed        213183 non-null  int64
dtypes: float64(1), int64(15), object(2)
memory usage: 29.3+ MB

In [20]:
df_data = pd.get_dummies(df_data, columns=['EXPORT_CNTRY'], prefix='EXPORT_CNTRY', drop_first=False, dtype=int)
display(df_data.head())
df_data.info()

,SHIPMT_ID,ORIG_STATE,ORIG_MA,DEST_STATE,DEST_MA,NAICS,QUARTER,MODE,SHIPMT_VALUE,SHIPMT_WGHT,...,EXPORT_YN,HAZMAT,WGT_FACTOR,SCTG_indexed,EXPORT_CNTRY_A,EXPORT_CNTRY_C,EXPORT_CNTRY_E,EXPORT_CNTRY_M,EXPORT_CNTRY_N,EXPORT_CNTRY_S
0,1,6,99999,6,260,326,4,5,4380,391,...,0,N,328.3,50,0,0,0,0,1,0
1,2,49,482,47,314,4541,3,14,56,4,...,0,N,8425.3,50,0,0,0,0,1,0
2,3,6,348,6,348,4231,4,5,255,440,...,0,N,9120.7,40,0,0,0,0,1,0
3,4,6,260,6,99999,212,4,5,250,44912,...,0,N,20.9,14,0,0,0,0,1,0
4,5,45,273,45,273,45431,4,5,46,73,...,0,H,1733.8,22,0,0,0,0,1,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213183 entries, 0 to 213182
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SHIPMT_ID           213183 non-null  int64
 1   ORIG_STATE          213183 non-null  int64
 2   ORIG_MA             213183 non-null  int64
 3   DEST_STATE          213183 non-null  int64
 4   DEST_MA             213183 non-null  int64
 5   NAICS               213183 non-null  int64
 6   QUARTER             213183 non-null  int64
 7   MODE                213183 non-null  int64
 8   SHIPMT_VALUE        213183 non-null  int64
 9   SHIPMT_WGHT         213183 non-null  int64
 10  SHIPMT_DIST_GC      213183 non-null  int64
 11  SHIPMT_DIST_ROUTED  213183 non-null  int64
 12  TEMP_CNTL_YN        213183 non-null  int64
 13  EXPORT_YN           213183 non-null  int64
 14  HAZMAT              213182 non-null  object
 15  WGT_FACTOR          213182 non-null  float64
 16  SCTG_indexed        213183 non-null  int64
 17  EXPORT_CNTRY_A      213183 non-null  int64
 18  EXPORT_CNTRY_C      213183 non-null  int64
 19  EXPORT_CNTRY_E      213183 non-null  int64
 20  EXPORT_CNTRY_M      213183 non-null  int64
 21  EXPORT_CNTRY_N      213183 non-null  int64
 22  EXPORT_CNTRY_S      213183 non-null  int64
dtypes: float64(1), int64(21), object(1)
memory usage: 37.4+ MB

In [21]:
df_data = pd.get_dummies(df_data, columns=['HAZMAT'], prefix='HAZMAT', drop_first=False, dtype=int)
display(df_data.head())
df_data.info()

,SHIPMT_ID,ORIG_STATE,ORIG_MA,DEST_STATE,DEST_MA,NAICS,QUARTER,MODE,SHIPMT_VALUE,SHIPMT_WGHT,...,SCTG_indexed,EXPORT_CNTRY_A,EXPORT_CNTRY_C,EXPORT_CNTRY_E,EXPORT_CNTRY_M,EXPORT_CNTRY_N,EXPORT_CNTRY_S,HAZMAT_H,HAZMAT_N,HAZMAT_P
0,1,6,99999,6,260,326,4,5,4380,391,...,50,0,0,0,0,1,0,0,1,0
1,2,49,482,47,314,4541,3,14,56,4,...,50,0,0,0,0,1,0,0,1,0
2,3,6,348,6,348,4231,4,5,255,440,...,40,0,0,0,0,1,0,0,1,0
3,4,6,260,6,99999,212,4,5,250,44912,...,14,0,0,0,0,1,0,0,1,0
4,5,45,273,45,273,45431,4,5,46,73,...,22,0,0,0,0,1,0,1,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213183 entries, 0 to 213182
Data columns (total 25 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SHIPMT_ID           213183 non-null  int64
 1   ORIG_STATE          213183 non-null  int64
 2   ORIG_MA             213183 non-null  int64
 3   DEST_STATE          213183 non-null  int64
 4   DEST_MA             213183 non-null  int64
 5   NAICS               213183 non-null  int64
 6   QUARTER             213183 non-null  int64
 7   MODE                213183 non-null  int64
 8   SHIPMT_VALUE        213183 non-null  int64
 9   SHIPMT_WGHT         213183 non-null  int64
 10  SHIPMT_DIST_GC      213183 non-null  int64
 11  SHIPMT_DIST_ROUTED  213183 non-null  int64
 12  TEMP_CNTL_YN        213183 non-null  int64
 13  EXPORT_YN           213183 non-null  int64
 14  WGT_FACTOR          213182 non-null  float64
 15  SCTG_indexed        213183 non-null  int64
 16  EXPORT_CNTRY_A      213183 non-null  int64
 17  EXPORT_CNTRY_C      213183 non-null  int64
 18  EXPORT_CNTRY_E      213183 non-null  int64
 19  EXPORT_CNTRY_M      213183 non-null  int64
 20  EXPORT_CNTRY_N      213183 non-null  int64
 21  EXPORT_CNTRY_S      213183 non-null  int64
 22  HAZMAT_H            213183 non-null  int64
 23  HAZMAT_N            213183 non-null  int64
 24  HAZMAT_P            213183 non-null  int64
dtypes: float64(1), int64(24)
memory usage: 40.7 MB

In [22]:
print("Value counts for mode_series after filtering:")
print(df_data['MODE'].value_counts())

Value counts for mode_series after filtering:
MODE
4      83602
5      65119
14     56181
11      3296
16      1584
15      1250
6        974
2        286
13       250
12       171
8        131
17        81
10        80
18        78
20        49
0         22
3         12
19         6
9          5
7          3
101        3
Name: count, dtype: int64

In [23]:
filtered_indices = df_data[df_data['MODE'].isin([4, 5, 14])].index
df_data = df_data.loc[filtered_indices]

print(f"Number of rows after filtering: {df_data.shape[0]}")
print(f"Number of columns after filtering: {df_data.shape[1]}")

Number of rows after filtering: 204902
Number of columns after filtering: 25

In [24]:
print("Value counts for mode_series after filtering:")
print(df_data['MODE'].value_counts())

Value counts for mode_series after filtering:
MODE
4     83602
5     65119
14    56181
Name: count, dtype: int64

In [25]:
mode_series = df_data['MODE']
display(mode_series.head())

0     5
1    14
2     5
3     5
4     5
Name: MODE, dtype: int64

In [26]:
df_data = df_data.drop(columns=['MODE'])
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204902 entries, 0 to 213182
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SHIPMT_ID           204902 non-null  int64
 1   ORIG_STATE          204902 non-null  int64
 2   ORIG_MA             204902 non-null  int64
 3   DEST_STATE          204902 non-null  int64
 4   DEST_MA             204902 non-null  int64
 5   NAICS               204902 non-null  int64
 6   QUARTER             204902 non-null  int64
 7   SHIPMT_VALUE        204902 non-null  int64
 8   SHIPMT_WGHT         204902 non-null  int64
 9   SHIPMT_DIST_GC      204902 non-null  int64
 10  SHIPMT_DIST_ROUTED  204902 non-null  int64
 11  TEMP_CNTL_YN        204902 non-null  int64
 12  EXPORT_YN           204902 non-null  int64
 13  WGT_FACTOR          204901 non-null  float64
 14  SCTG_indexed        204902 non-null  int64
 15  EXPORT_CNTRY_A      204902 non-null  int64
 16  EXPORT_CNTRY_C      204902 non-null  int64
 17  EXPORT_CNTRY_E      204902 non-null  int64
 18  EXPORT_CNTRY_M      204902 non-null  int64
 19  EXPORT_CNTRY_N      204902 non-null  int64
 20  EXPORT_CNTRY_S      204902 non-null  int64
 21  HAZMAT_H            204902 non-null  int64
 22  HAZMAT_N            204902 non-null  int64
 23  HAZMAT_P            204902 non-null  int64
dtypes: float64(1), int64(23)
memory usage: 39.1 MB

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
# Define features (X) and target (y)
X = df_data
y = mode_series

# Perform the train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=10000, random_state=42, stratify=y)

print(f"Shape of X_train: {X_train.shape}")
print(f"Shape of X_test: {X_test.shape}")
print(f"Shape of y_train: {y_train.shape}")
print(f"Shape of y_test: {y_test.shape}")

Shape of X_train: (194902, 24)
Shape of X_test: (10000, 24)
Shape of y_train: (194902,)
Shape of y_test: (10000,)

In [29]:
# Split off another 10,000 examples for a development set from the training data
X_train_dev, X_dev, y_train_dev, y_dev = train_test_split(X_train, y_train, test_size=10000, random_state=42, stratify=y_train)

print(f"Shape of new X_train (dev): {X_train_dev.shape}")
print(f"Shape of X_dev: {X_dev.shape}")
print(f"Shape of new y_train (dev): {y_train_dev.shape}")
print(f"Shape of y_dev: {y_dev.shape}")

Shape of new X_train (dev): (184902, 24)
Shape of X_dev: (10000, 24)
Shape of new y_train (dev): (184902,)
Shape of y_dev: (10000,)

In [33]:
X_train.isna().sum()

SHIPMT_ID             0
ORIG_STATE            0
ORIG_MA               0
DEST_STATE            0
DEST_MA               0
NAICS                 0
QUARTER               0
SHIPMT_VALUE          0
SHIPMT_WGHT           0
SHIPMT_DIST_GC        0
SHIPMT_DIST_ROUTED    0
TEMP_CNTL_YN          0
EXPORT_YN             0
WGT_FACTOR            1
SCTG_indexed          0
EXPORT_CNTRY_A        0
EXPORT_CNTRY_C        0
EXPORT_CNTRY_E        0
EXPORT_CNTRY_M        0
EXPORT_CNTRY_N        0
EXPORT_CNTRY_S        0
HAZMAT_H              0
HAZMAT_N              0
HAZMAT_P              0
dtype: int64

In [34]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

# Impute missing values in WGT_FACTOR before training
X_train_dev['WGT_FACTOR'].fillna(X_train_dev['WGT_FACTOR'].mean(), inplace=True)
X_dev['WGT_FACTOR'].fillna(X_dev['WGT_FACTOR'].mean(), inplace=True)
X_test['WGT_FACTOR'].fillna(X_test['WGT_FACTOR'].mean(), inplace=True)

# --- Logistic Regression Model ---
print("\n--- Logistic Regression Model ---")
# Initialize the Logistic Regression model
log_reg_model = LogisticRegression(max_iter=10000, random_state=42, solver='liblinear')

# Train the model
log_reg_model.fit(X_train_dev, y_train_dev)

# Make predictions on the development set
y_pred_log_reg = log_reg_model.predict(X_dev)

# Evaluate the Logistic Regression model
print(f"Logistic Regression Accuracy: {accuracy_score(y_dev, y_pred_log_reg):.4f}")
print("Logistic Regression Classification Report:")
print(classification_report(y_dev, y_pred_log_reg))

/tmp/ipython-input-1364528234.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train_dev['WGT_FACTOR'].fillna(X_train_dev['WGT_FACTOR'].mean(), inplace=True)
/tmp/ipython-input-1364528234.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_dev['WGT_FACTOR'].fillna(X_dev['WGT_FACTOR'].mean(), inplace=True)
/tmp/ipython-input-1364528234.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_test['WGT_FACTOR'].fillna(X_test['WGT_FACTOR'].mean(), inplace=True)

--- Logistic Regression Model ---
Logistic Regression Accuracy: 0.7157
Logistic Regression Classification Report:
              precision    recall  f1-score   support

           4       0.76      0.63      0.69      4080
           5       0.62      0.72      0.67      3178
          14       0.78      0.84      0.81      2742

    accuracy                           0.72     10000
   macro avg       0.72      0.73      0.72     10000
weighted avg       0.72      0.72      0.72     10000

In [35]:
# --- Decision Tree Model ---
print("\n--- Decision Tree Model ---")
# Initialize the Decision Tree Classifier
dec_tree_model = DecisionTreeClassifier(random_state=42)

# Train the model
dec_tree_model.fit(X_train_dev, y_train_dev)

# Make predictions on the development set
y_pred_dec_tree = dec_tree_model.predict(X_dev)

# Evaluate the Decision Tree model
print(f"Decision Tree Accuracy: {accuracy_score(y_dev, y_pred_dec_tree):.4f}")
print("Decision Tree Classification Report:")
print(classification_report(y_dev, y_pred_dec_tree))

--- Decision Tree Model ---
Decision Tree Accuracy: 0.7292
Decision Tree Classification Report:
              precision    recall  f1-score   support

           4       0.71      0.73      0.72      4080
           5       0.70      0.70      0.70      3178
          14       0.79      0.77      0.78      2742

    accuracy                           0.73     10000
   macro avg       0.74      0.73      0.73     10000
weighted avg       0.73      0.73      0.73     10000