In [1]:
import pandas as pd

df_data = pd.read_csv('/content/CFS 2017 PUF CSV.csv')

In [2]:
print("df_data info:")
df_data.info()
print("\ndf_data columns:")
print(df_data.columns)
print("\ndf_data missing values:")
print(df_data.isnull().sum().sum())

print("\n--------------------\n")

df_data info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5978523 entries, 0 to 5978522
Data columns (total 20 columns):
 #   Column              Dtype
---  ------              -----
 0   SHIPMT_ID           int64
 1   ORIG_STATE          int64
 2   ORIG_MA             int64
 3   ORIG_CFS_AREA       object
 4   DEST_STATE          int64
 5   DEST_MA             int64
 6   DEST_CFS_AREA       object
 7   NAICS               int64
 8   QUARTER             int64
 9   SCTG                object
 10  MODE                int64
 11  SHIPMT_VALUE        int64
 12  SHIPMT_WGHT         int64
 13  SHIPMT_DIST_GC      int64
 14  SHIPMT_DIST_ROUTED  int64
 15  TEMP_CNTL_YN        object
 16  EXPORT_YN           object
 17  EXPORT_CNTRY        object
 18  HAZMAT              object
 19  WGT_FACTOR          float64
dtypes: float64(1), int64(12), object(7)
memory usage: 912.3+ MB

df_data columns:
Index(['SHIPMT_ID', 'ORIG_STATE', 'ORIG_MA', 'ORIG_CFS_AREA', 'DEST_STATE',
       'DEST_MA', 'DEST_CFS_AREA', 'NAICS', 'QUARTER', 'SCTG', 'MODE',
       'SHIPMT_VALUE', 'SHIPMT_WGHT', 'SHIPMT_DIST_GC', 'SHIPMT_DIST_ROUTED',
       'TEMP_CNTL_YN', 'EXPORT_YN', 'EXPORT_CNTRY', 'HAZMAT', 'WGT_FACTOR'],
      dtype='object')

df_data missing values:
0

--------------------

In [3]:
display(df_data.head())

,SHIPMT_ID,ORIG_STATE,ORIG_MA,ORIG_CFS_AREA,DEST_STATE,DEST_MA,DEST_CFS_AREA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
0,1,6,99999,06-99999,6,260,06-260,326,4,43,5,4380,391,54,60,N,N,N,N,328.3
1,2,49,482,49-482,47,314,47-314,4541,3,43,14,56,4,1524,1810,N,N,N,N,8425.3
2,3,6,348,06-348,6,348,06-348,4231,4,34,5,255,440,2,5,N,N,N,N,9120.7
3,4,6,260,06-260,6,99999,06-99999,212,4,11,5,250,44912,30,35,N,N,N,N,20.9
4,5,45,273,45-273,45,273,45-273,45431,4,19,5,46,73,9,11,N,N,N,H,1733.8

In [4]:
print(f"Number of rows: {df_data.shape[0]}")
print(f"Number of columns: {df_data.shape[1]}")

Number of rows: 5978523
Number of columns: 20

In [5]:
df_data = df_data.drop(columns=['ORIG_CFS_AREA', 'DEST_CFS_AREA'])
print("Updated df_data columns:")
print(df_data.columns)

Updated df_data columns:
Index(['SHIPMT_ID', 'ORIG_STATE', 'ORIG_MA', 'DEST_STATE', 'DEST_MA', 'NAICS',
       'QUARTER', 'SCTG', 'MODE', 'SHIPMT_VALUE', 'SHIPMT_WGHT',
       'SHIPMT_DIST_GC', 'SHIPMT_DIST_ROUTED', 'TEMP_CNTL_YN', 'EXPORT_YN',
       'EXPORT_CNTRY', 'HAZMAT', 'WGT_FACTOR'],
      dtype='object')

In [6]:
print(sorted(df_data['SCTG'].unique()))

['00', '01', '01-05', '02', '03', '04', '05', '06', '06-09', '07', '08', '09', '10', '10-14', '11', '12', '13', '14', '15', '15-19', '17', '18', '19', '20', '20-24', '21', '22', '23', '24', '25', '25-30', '26', '27', '28', '29', '30', '31', '31-34', '32', '33', '34', '35', '35-38', '36', '37', '38', '39', '39-43', '40', '41', '43']

In [7]:
sortedSCTGvalues  = sorted(df_data['SCTG'].unique())

In [8]:
sctg_to_index = {value: index for index, value in enumerate(sortedSCTGvalues)}
df_data['SCTG_indexed'] = df_data['SCTG'].map(sctg_to_index)
display(df_data[['SCTG', 'SCTG_indexed']].head())

  SCTG  SCTG_indexed
0   43            50
1   43            50
2   34            40
3   11            14
4   19            22

In [9]:
print(df_data.isnull().sum())

SHIPMT_ID             0
ORIG_STATE            0
ORIG_MA               0
DEST_STATE            0
DEST_MA               0
NAICS                 0
QUARTER               0
SCTG                  0
MODE                  0
SHIPMT_VALUE          0
SHIPMT_WGHT           0
SHIPMT_DIST_GC        0
SHIPMT_DIST_ROUTED    0
TEMP_CNTL_YN          0
EXPORT_YN             0
EXPORT_CNTRY          0
HAZMAT                0
WGT_FACTOR            0
SCTG_indexed          0
dtype: int64

In [10]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5978523 entries, 0 to 5978522
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   SHIPMT_ID           int64
 1   ORIG_STATE          int64
 2   ORIG_MA             int64
 3   DEST_STATE          int64
 4   DEST_MA             int64
 5   NAICS               int64
 6   QUARTER             int64
 7   SCTG                object
 8   MODE                int64
 9   SHIPMT_VALUE        int64
 10  SHIPMT_WGHT         int64
 11  SHIPMT_DIST_GC      int64
 12  SHIPMT_DIST_ROUTED  int64
 13  TEMP_CNTL_YN        object
 14  EXPORT_YN           object
 15  EXPORT_CNTRY        object
 16  HAZMAT              object
 17  WGT_FACTOR          float64
 18  SCTG_indexed        int64
dtypes: float64(1), int64(13), object(5)
memory usage: 866.6+ MB

In [11]:
export_cntry_cols = [col for col in df_data.columns if col.startswith('EXPORT_CNTRY_')]
for col in export_cntry_cols:
    df_data[col] = df_data[col].astype(int)

display(df_data.head())
df_data.info()

,SHIPMT_ID,ORIG_STATE,ORIG_MA,DEST_STATE,DEST_MA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR,SCTG_indexed
0,1,6,99999,6,260,326,4,43,5,4380,391,54,60,N,N,N,N,328.3,50
1,2,49,482,47,314,4541,3,43,14,56,4,1524,1810,N,N,N,N,8425.3,50
2,3,6,348,6,348,4231,4,34,5,255,440,2,5,N,N,N,N,9120.7,40
3,4,6,260,6,99999,212,4,11,5,250,44912,30,35,N,N,N,N,20.9,14
4,5,45,273,45,273,45431,4,19,5,46,73,9,11,N,N,N,H,1733.8,22

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5978523 entries, 0 to 5978522
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   SHIPMT_ID           int64
 1   ORIG_STATE          int64
 2   ORIG_MA             int64
 3   DEST_STATE          int64
 4   DEST_MA             int64
 5   NAICS               int64
 6   QUARTER             int64
 7   SCTG                object
 8   MODE                int64
 9   SHIPMT_VALUE        int64
 10  SHIPMT_WGHT         int64
 11  SHIPMT_DIST_GC      int64
 12  SHIPMT_DIST_ROUTED  int64
 13  TEMP_CNTL_YN        object
 14  EXPORT_YN           object
 15  EXPORT_CNTRY        object
 16  HAZMAT              object
 17  WGT_FACTOR          float64
 18  SCTG_indexed        int64
dtypes: float64(1), int64(13), object(5)
memory usage: 866.6+ MB

In [12]:
export_cntry_cols = [col for col in df_data.columns if col.startswith('EXPORT_CNTRY_')]
display(df_data[['SHIPMT_ID'] + export_cntry_cols].head())

   SHIPMT_ID
0          1
1          2
2          3
3          4
4          5

In [13]:
print("Unique values in TEMP_CNTL_YN:", df_data['TEMP_CNTL_YN'].unique())
print("Unique values in EXPORT_YN:", df_data['EXPORT_YN'].unique())

Unique values in TEMP_CNTL_YN: ['N' 'Y']
Unique values in EXPORT_YN: ['N' 'Y']

In [14]:
df_data['TEMP_CNTL_YN'] = df_data['TEMP_CNTL_YN'].map({'Y': 1, 'N': 0}).astype(int)
df_data['EXPORT_YN'] = df_data['EXPORT_YN'].map({'Y': 1, 'N': 0}).astype(int)
display(df_data[['TEMP_CNTL_YN', 'EXPORT_YN']].head())

   TEMP_CNTL_YN  EXPORT_YN
0             0          0
1             0          0
2             0          0
3             0          0
4             0          0

In [15]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5978523 entries, 0 to 5978522
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   SHIPMT_ID           int64
 1   ORIG_STATE          int64
 2   ORIG_MA             int64
 3   DEST_STATE          int64
 4   DEST_MA             int64
 5   NAICS               int64
 6   QUARTER             int64
 7   SCTG                object
 8   MODE                int64
 9   SHIPMT_VALUE        int64
 10  SHIPMT_WGHT         int64
 11  SHIPMT_DIST_GC      int64
 12  SHIPMT_DIST_ROUTED  int64
 13  TEMP_CNTL_YN        int64
 14  EXPORT_YN           int64
 15  EXPORT_CNTRY        object
 16  HAZMAT              object
 17  WGT_FACTOR          float64
 18  SCTG_indexed        int64
dtypes: float64(1), int64(15), object(3)
memory usage: 866.6+ MB

In [16]:
df_data = df_data.drop(columns=['SCTG'])
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5978523 entries, 0 to 5978522
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   SHIPMT_ID           int64
 1   ORIG_STATE          int64
 2   ORIG_MA             int64
 3   DEST_STATE          int64
 4   DEST_MA             int64
 5   NAICS               int64
 6   QUARTER             int64
 7   MODE                int64
 8   SHIPMT_VALUE        int64
 9   SHIPMT_WGHT         int64
 10  SHIPMT_DIST_GC      int64
 11  SHIPMT_DIST_ROUTED  int64
 12  TEMP_CNTL_YN        int64
 13  EXPORT_YN           int64
 14  EXPORT_CNTRY        object
 15  HAZMAT              object
 16  WGT_FACTOR          float64
 17  SCTG_indexed        int64
dtypes: float64(1), int64(15), object(2)
memory usage: 821.0+ MB

In [17]:
df_data = pd.get_dummies(df_data, columns=['EXPORT_CNTRY'], prefix='EXPORT_CNTRY', drop_first=False, dtype=int)
display(df_data.head())
df_data.info()

,SHIPMT_ID,ORIG_STATE,ORIG_MA,DEST_STATE,DEST_MA,NAICS,QUARTER,MODE,SHIPMT_VALUE,SHIPMT_WGHT,...,EXPORT_YN,HAZMAT,WGT_FACTOR,SCTG_indexed,EXPORT_CNTRY_A,EXPORT_CNTRY_C,EXPORT_CNTRY_E,EXPORT_CNTRY_M,EXPORT_CNTRY_N,EXPORT_CNTRY_S
0,1,6,99999,6,260,326,4,5,4380,391,...,0,N,328.3,50,0,0,0,0,1,0
1,2,49,482,47,314,4541,3,14,56,4,...,0,N,8425.3,50,0,0,0,0,1,0
2,3,6,348,6,348,4231,4,5,255,440,...,0,N,9120.7,40,0,0,0,0,1,0
3,4,6,260,6,99999,212,4,5,250,44912,...,0,N,20.9,14,0,0,0,0,1,0
4,5,45,273,45,273,45431,4,5,46,73,...,0,H,1733.8,22,0,0,0,0,1,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5978523 entries, 0 to 5978522
Data columns (total 23 columns):
 #   Column              Dtype
---  ------              -----
 0   SHIPMT_ID           int64
 1   ORIG_STATE          int64
 2   ORIG_MA             int64
 3   DEST_STATE          int64
 4   DEST_MA             int64
 5   NAICS               int64
 6   QUARTER             int64
 7   MODE                int64
 8   SHIPMT_VALUE        int64
 9   SHIPMT_WGHT         int64
 10  SHIPMT_DIST_GC      int64
 11  SHIPMT_DIST_ROUTED  int64
 12  TEMP_CNTL_YN        int64
 13  EXPORT_YN           int64
 14  HAZMAT              object
 15  WGT_FACTOR          float64
 16  SCTG_indexed        int64
 17  EXPORT_CNTRY_A      int64
 18  EXPORT_CNTRY_C      int64
 19  EXPORT_CNTRY_E      int64
 20  EXPORT_CNTRY_M      int64
 21  EXPORT_CNTRY_N      int64
 22  EXPORT_CNTRY_S      int64
dtypes: float64(1), int64(21), object(1)
memory usage: 1.0+ GB

In [18]:
df_data = pd.get_dummies(df_data, columns=['HAZMAT'], prefix='HAZMAT', drop_first=False, dtype=int)
display(df_data.head())
df_data.info()

,SHIPMT_ID,ORIG_STATE,ORIG_MA,DEST_STATE,DEST_MA,NAICS,QUARTER,MODE,SHIPMT_VALUE,SHIPMT_WGHT,...,SCTG_indexed,EXPORT_CNTRY_A,EXPORT_CNTRY_C,EXPORT_CNTRY_E,EXPORT_CNTRY_M,EXPORT_CNTRY_N,EXPORT_CNTRY_S,HAZMAT_H,HAZMAT_N,HAZMAT_P
0,1,6,99999,6,260,326,4,5,4380,391,...,50,0,0,0,0,1,0,0,1,0
1,2,49,482,47,314,4541,3,14,56,4,...,50,0,0,0,0,1,0,0,1,0
2,3,6,348,6,348,4231,4,5,255,440,...,40,0,0,0,0,1,0,0,1,0
3,4,6,260,6,99999,212,4,5,250,44912,...,14,0,0,0,0,1,0,0,1,0
4,5,45,273,45,273,45431,4,5,46,73,...,22,0,0,0,0,1,0,1,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5978523 entries, 0 to 5978522
Data columns (total 25 columns):
 #   Column              Dtype
---  ------              -----
 0   SHIPMT_ID           int64
 1   ORIG_STATE          int64
 2   ORIG_MA             int64
 3   DEST_STATE          int64
 4   DEST_MA             int64
 5   NAICS               int64
 6   QUARTER             int64
 7   MODE                int64
 8   SHIPMT_VALUE        int64
 9   SHIPMT_WGHT         int64
 10  SHIPMT_DIST_GC      int64
 11  SHIPMT_DIST_ROUTED  int64
 12  TEMP_CNTL_YN        int64
 13  EXPORT_YN           int64
 14  WGT_FACTOR          float64
 15  SCTG_indexed        int64
 16  EXPORT_CNTRY_A      int64
 17  EXPORT_CNTRY_C      int64
 18  EXPORT_CNTRY_E      int64
 19  EXPORT_CNTRY_M      int64
 20  EXPORT_CNTRY_N      int64
 21  EXPORT_CNTRY_S      int64
 22  HAZMAT_H            int64
 23  HAZMAT_N            int64
 24  HAZMAT_P            int64
dtypes: float64(1), int64(24)
memory usage: 1.1 GB

In [19]:
print("Value counts for mode_series after filtering:")
print(df_data['MODE'].value_counts())

Value counts for mode_series after filtering:
MODE
4      2354704
5      1825760
14     1566194
11       93633
16       43929
15       36685
6        26280
2         7031
13        6965
12        4487
8         3758
17        2542
18        2099
10        1529
20        1468
0          487
3          402
19         224
7          137
101        120
9           89
Name: count, dtype: int64

In [20]:
filtered_indices = df_data[df_data['MODE'].isin([4, 5, 14])].index
df_data = df_data.loc[filtered_indices]

print(f"Number of rows after filtering: {df_data.shape[0]}")
print(f"Number of columns after filtering: {df_data.shape[1]}")

Number of rows after filtering: 5746658
Number of columns after filtering: 25

In [21]:
print("Value counts for mode_series after filtering:")
print(df_data['MODE'].value_counts())

Value counts for mode_series after filtering:
MODE
4     2354704
5     1825760
14    1566194
Name: count, dtype: int64

In [22]:
mode_series = df_data['MODE']
display(mode_series.head())

0     5
1    14
2     5
3     5
4     5
Name: MODE, dtype: int64

In [23]:
df_data = df_data.drop(columns=['MODE'])
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5746658 entries, 0 to 5978521
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   SHIPMT_ID           int64
 1   ORIG_STATE          int64
 2   ORIG_MA             int64
 3   DEST_STATE          int64
 4   DEST_MA             int64
 5   NAICS               int64
 6   QUARTER             int64
 7   SHIPMT_VALUE        int64
 8   SHIPMT_WGHT         int64
 9   SHIPMT_DIST_GC      int64
 10  SHIPMT_DIST_ROUTED  int64
 11  TEMP_CNTL_YN        int64
 12  EXPORT_YN           int64
 13  WGT_FACTOR          float64
 14  SCTG_indexed        int64
 15  EXPORT_CNTRY_A      int64
 16  EXPORT_CNTRY_C      int64
 17  EXPORT_CNTRY_E      int64
 18  EXPORT_CNTRY_M      int64
 19  EXPORT_CNTRY_N      int64
 20  EXPORT_CNTRY_S      int64
 21  HAZMAT_H            int64
 22  HAZMAT_N            int64
 23  HAZMAT_P            int64
dtypes: float64(1), int64(23)
memory usage: 1.1 GB

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
# Define features (X) and target (y)
X = df_data
y = mode_series

# Perform the train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=10000, random_state=42, stratify=y)

print(f"Shape of X_train: {X_train.shape}")
print(f"Shape of X_test: {X_test.shape}")
print(f"Shape of y_train: {y_train.shape}")
print(f"Shape of y_test: {y_test.shape}")

Shape of X_train: (5736658, 24)
Shape of X_test: (10000, 24)
Shape of y_train: (5736658,)
Shape of y_test: (10000,)

In [26]:
# Split off another 10,000 examples for a development set from the training data
X_train_dev, X_dev, y_train_dev, y_dev = train_test_split(X_train, y_train, test_size=10000, random_state=42, stratify=y_train)

print(f"Shape of new X_train (dev): {X_train_dev.shape}")
print(f"Shape of X_dev: {X_dev.shape}")
print(f"Shape of new y_train (dev): {y_train_dev.shape}")
print(f"Shape of y_dev: {y_dev.shape}")

Shape of new X_train (dev): (5726658, 24)
Shape of X_dev: (10000, 24)
Shape of new y_train (dev): (5726658,)
Shape of y_dev: (10000,)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

# --- Logistic Regression Model ---
print("\n--- Logistic Regression Model ---")
# Initialize the Logistic Regression model
log_reg_model = LogisticRegression(max_iter=10000, random_state=42, solver='liblinear')

# Train the model
log_reg_model.fit(X_train_dev, y_train_dev)

# Make predictions on the development set
y_pred_log_reg = log_reg_model.predict(X_dev)

# Evaluate the Logistic Regression model
print(f"Logistic Regression Accuracy: {accuracy_score(y_dev, y_pred_log_reg):.4f}")
print("Logistic Regression Classification Report:")
print(classification_report(y_dev, y_pred_log_reg))

--- Logistic Regression Model ---

In [ ]:
# --- Decision Tree Model ---
print("\n--- Decision Tree Model ---")
# Initialize the Decision Tree Classifier
dec_tree_model = DecisionTreeClassifier(random_state=42)

# Train the model
dec_tree_model.fit(X_train_dev, y_train_dev)

# Make predictions on the development set
y_pred_dec_tree = dec_tree_model.predict(X_dev)

# Evaluate the Decision Tree model
print(f"Decision Tree Accuracy: {accuracy_score(y_dev, y_pred_dec_tree):.4f}")
print("Decision Tree Classification Report:")
print(classification_report(y_dev, y_pred_dec_tree))